body {
	margin: 0;
	font-family: 'CenturyGothic', 'Times New Roman', sans-serif;
}

.wrapper {
	width: 70%;
	margin: 0 auto;
}

.section1 {
	position: relative;
}

.foto11, .foto2 {
	width: 100%;
	height: auto;
    margin-bottom: 80px;
}

.invate-title {
	font-size: 46px;
	margin: 0 auto 40px;
	color: #680400;
	text-align: center;
}

.invate-text {
	text-align: center;
	width: 60%;
	font-weight: 100;
	font-size: 40px;
	line-height: 56px;
	margin: 0 auto;
    margin-bottom: 60px;
}

.words {
	color: #680400;
	font-weight: bold;
}

.timer-wait {
	text-align: center;
	width: 80%;
	color: #680400;
	font-size: 30px;
	margin: 0 auto;
	margin-bottom: 60px;
}

.timer-numbers {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.timer-item {
	display: flex;
	flex-direction: column;
	align-items: center;	
}
.days, .hours, .minutes, .seconds {
	display: block;
	font-size: 46px;
	color: #680400;
}

.days-word {
	font-size: 24px;
}

.heart {
	width: 25px;
	height: 25px;
}

.text {
	width: 80%;
    margin: 0 auto;
    font-weight: 100;
	font-size: 26px;
	text-align: center;
	margin-bottom: 60px;
}

.main__form {
	display: flex;
	width: 70%;
	margin: 0 auto;
	align-items: start;
	/*align-items: center;*/
	margin-bottom: 80px;
	border: 1px solid white;
	background-color: #eae5eb;
}

#form {
	width: 45%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eae5eb;
}

.wrapper-form {
	display: none;
}

.wrapper-form-children {
	display: none;
}

h2 {
    font-size: 72px;
    text-align: center;
	color: #680400;
	    position: absolute;
    left: 60px;
    top: 0;
    width: 20%;
}

h4 {
	font-size: 26px;
	font-weight: lighter;
	color: #680400;
	font-weight: bold;
	margin: 10px;
}

.form__choice, .form__decision {
	font-weight: 300;
	font-size: 24px;
	line-height: 38px;
	padding-left: 12%;
	color: #93422e;
	letter-spacing: -0.9px;
}

.food_comment {
	width: 100%;
	height: 130px;
	box-sizing: border-box;
	padding-top: 10px;
	border-radius: 5px;
	margin: 0 auto;
	border: none;
	overflow: hidden;
}

.form__name, .food_comment, .form__button {
	display: block;
	margin: 5px auto;
    text-align: center;
	font-size: 17px;
}

.form__name {
    width: 70%;
    height: 30px;
    border-radius: 5px;
    border: none;
}

.age {
	font-weight: 200;
	font-size: 24px;
	color: #93422e;
	text-align: center;
	margin: 0;
}

.form__button {
	opacity: 0.7;
    background-color: #680400;
	border-radius: 5px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: lighter;
	color: white;
	border: none;
	padding: 15px 35px;
	margin-bottom: 50px;
	transition: 1s;
}


.form__button:hover {
	opacity: 1;
	transition: 1s;
}

.foto3 {
	width: 55%;
	object-fit: contain;
	position: sticky;
    top: 0;
}

.text-information {
	width: 90%;
    margin: 0 auto;
    font-weight: 100;
	font-size: 32px;
	text-align: center;
	margin-bottom: 60px;
}

.link {
	text-decoration: none;
    font-size: 30px;
    line-height: 30px;
    color: black;
    text-align: center;
}

.photoreport {
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	margin-bottom: 30px;
	border: 1px solid white;
}

.play {
	margin: 0 10px;
}

.load {
	margin-right: 10px;
}

.errors, .check {
	display: block; 
	margin-left: 10px;
	font-size: 28px;
	margin-top: 10px;
}

.check {
	color: black; 
}

.errors {
	color: red; 	
}

.thanks {
	color: #7ea656; 
	font-weight: bold; 
	display: block; 
	margin: 10px auto;
	font-size: 28px;
}

@media(max-width: 1680px){
	.wrapper {
		width: 100%;
	}
}

@media(max-width: 1025px){

	h2 {
	    font-size: 50px;
	    width: 18%;	
	}

	.invate-title {
	    font-size: 34px;	
	}

	.invate-text {
	    font-size: 26px;
	    line-height: 40px;	
	}

	.timer-wait {
		font-size: 26px;
	}

	.text {
		font-size: 26px;	
	}

	.main__form {
		width: 80%;
	}

	.foto3 {
		width: 50%;
	}

	#form {
		width: 50%;
	}

	.form__choice, .form__decision {
		line-height: 35px;
	}

	.play {
		width: 50px;
		height: 50px;
	}
	.load {
	    width: 75px;
	    height: 51px;
	}

	.age {
	    font-size: 22px;
	    margin: 0;
	    line-height: 22px;
	}

	.text-information {
	    width: 80%;
	    font-size: 26px;
	}

	.link {
	    font-size: 24px;
	    line-height: 24px;
	}

	.errors, .thanks, .check {
		font-size: 26px;
	}
}

@media(max-width: 900px) {
	.timer-numbers {
		width: 80%;
	}

	.days, .hours, .minutes, .seconds {
    	font-size: 35px;
    }
}

@media(max-width: 769px) {
	h2 {
	    font-size: 40px;	
	}

	.invate-title {
	    font-size: 26px;	
	}

	.invate-text {
	    font-size: 24px;
	    line-height: 34px;	
	}

	.timer-wait, .text {
		font-size: 20px;
	}

	.timer-numbers {
	    width: 80%;
	}

	.days, .hours, .minutes, .seconds {
    	font-size: 32px;
    }

	.heart {
	    width: 15px;
	    height: 15px;
	}

	.main__form {
		width: 100%;
	}

	.foto3 {
		width: 50%;
	}

	#form {
		width: 50%;
	}

	.form__choice, .form__decision {
		line-height: 34px;
	}

	.food_comment {
    	height: 100px;
    }

	.play {
		width: 50px;
		height: 50px;
	}

	.load {
	    width: 75px;
	    height: 51px;
	}

	.age {
	    font-size: 20px;
	    line-height: 20px;
	}

	.text-information {
	    width: 80%;
	    font-size: 20px;
	}

	.link {
	    font-size: 18px;
	    line-height: 18px;
	}

	.play {
		width: 45px;
		height: 45px;
	}

	.load {
	    width: 68px;
	    height: 46px;
	}

	.errors, .thanks, .check  {
		font-size: 24px;
	}
}
 
@media(max-width: 651px) {
	.main__form {
		flex-direction: column;
    	width: 80%;
	}

	#form {
    	width: 100%;
	}

	.foto3 {
    	width: 100%;
	}

	.timer-numbers {
    	width: 85%;
	}
	h2 {
	    width: 100%;
	    left: 0;
		top: -40px;
	}

	.section1 {
		margin-top: 30px;
	}
	    
}

@media(max-width: 426px){
	h2 {
	    font-size: 28px;
	}

	.foto11, .foto2 {
        margin-bottom: 30px;
	}

	.invate-title {
	    font-size: 22px;	
	}

	.invate-text {
	    font-size: 20px;
	    line-height: 24px;
	    width: 80%;
	}

	.timer-wait, .text {
		font-size: 16px;
		margin-bottom: 30px;
		width: 90%;
	}

	.timer-numbers {
	    width: 90%;
	    margin-bottom: 30px;
	}

	.days, .hours, .minutes, .seconds {
    	font-size: 26px;
    }

    .days-word {
   	    font-size: 16px;
	}

	.heart {
	    width: 12px;
	    height: 12px;
	}

	.main__form {
		margin-bottom: 40px;
	}

	h4 {
		font-size: 20px;
	}

	.form__choice, .form__decision {
		font-size: 18px;
		line-height: 28px;
	}

	.form__name, .food_comment {
    	font-size: 14px;
	}

	.age {
	    font-size: 18px;
	    line-height: 18px;
	}

	.form__button {
	    font-size: 20px;
	    padding: 15px 25px;
	    margin-bottom: 30px;
	}

	.text-information {
	    width: 90%;
	    font-size: 16px;
	    margin-bottom: 40px;
	}

	.link {
	    font-size: 16px;
	    line-height: 16px;
	}

	.errors, .thanks, .check  {
		font-size: 18px;
	}
}

@media(max-width: 376px){
	
	.foto11, .foto2 {
		width: 100%;height: auto;
	    margin-bottom: 30px;
	}

	.invate-title {
		font-size: 20px;
		margin: 0 auto 20px;
	}

	.invate-text {
		width: 90%;
		font-size: 17px;
		line-height: 27px;
	    margin-bottom: 30px;
	}

	.timer-numbers {
	    margin-bottom: 40px;
	}

	.days, .hours, .minutes, .seconds {
		font-size: 24px;
	}

	.days-word {
		font-size: 14px;
	}

	.text {
		width: 90%;
	    margin: 0 auto;
	    margin-bottom: 20px;
	}

	h2 {
	    font-size: 26px;
	}

	.main__form {
       	width: 90%;
	}

	.form__choice, .form__decision {
		font-size: 20px;
		line-height: 28px;
	}

	.food_comment {
		width: 90%;
		margin: 0 auto;
	}

	.form__name, .food_comment, .form__button {
		margin: 5px auto;
	    font-size: 16px;
	}

	.form__name {
		width: 75%;
	}

	.age {
		font-size: 16px;
	}

	.form__button {
		font-size: 18px;
		margin: 20px;
	}

	.text-information {
		margin-bottom: 30px;
	}

	.photoreport {
		margin-bottom: 30px;
	}
}

@media(max-width: 320px) {
	
	h2 {
    	font-size: 24px;
	}

	.invate-title {
    	font-size: 18px;
    }

    .invate-text {
	    font-size: 16px;
	    line-height: 26px;
   }

   h4 {
   	    font-size: 17px;
   }

   .form__choice, .form__decision {
	    font-size: 18px;
	    line-height: 26px;
	}

	.form__name, .food_comment, .form__button {
	    margin: 0 auto;
	    font-size: 15px;
	}

	.form__button {
		margin: 20px;
	}
	
	.text-information, .link {
	    font-size: 14px;
	}

	.play {
	    width: 40px;
	    height: 40px;
	}

	.load {
	    width: 60px;
	    height: 41px;
	}

	.errors, .thanks, .check {
		font-size: 16px;
	}
}